@font-face {
    font-family: "Luxemborg 1910"; /* ָל רנטפעא */
    src: url(font.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
	src: local(Luxemborg 1910), url(font.ttf);
   }
body {
	background-color:#293A39;
	color: #FFFFFF !important;
	margin: auto !important;
	max-width: 480px !important;
	font-size: small;
	font-family: verdana;
	line-height: 15px;
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	
}
a {
    color: #95D3CF;
    text-decoration: none;
    outline: medium none;
}
ul {
	list-style: none outside none;
	margin: 0px;
	padding:0px;
}

table{
	margin:auto;
	text-align:center;
	width:300px;
}

img {
    border: 0px none;
    margin-right: 3px;
    vertical-align: middle;
}
label {
    display: inline-block;
}
form {
    text-align: center;
}
#content .block {
    padding: 4px 20px;
}
input {
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    background: none repeat scroll 0% 0% #719F9E;
    font-size: small;
    font-family: verdana;
}
#content{
	background:url("/images/fon.png") repeat #225351;
	padding-top:10px;
}
#footer{
	text-align:center;
	font-size:smaller;
}

#footer a{
	//font-size:smaller;
	text-decoration:underline;
	color:#326361;
}
ul.navigation{
	//padding:0px 10px;
}
ul.navigation :last-child{
	border-bottom:0px;
}
ul.navigation li{
	border-bottom:1px solid #378682;
	padding:0px 10px;
}
ul.navigation li a {
    display: block;
    min-height: 33px;
    font-weight: bold;
}
ul.navigation span.body {
    padding: 8px 5px 5px 10px;
    display: block;
    background-position: 97% 60%;
    background-repeat: no-repeat;
}
ul.navigation span.body img {
    margin-right: 7px;
}
ul.navigation li:hover{
	background-color:#5F8684;
}
ul.list{
	list-style: circle outside;
	margin-left: 25px;
	padding:10px 10px;
}

ul.list li{
	//border-bottom:1px solid #378682;
	padding-bottom:0px;
}
ul.list li a{
	display: block;
    min-height: 25px;
    font-weight: bold;
	padding-bottom:0px;
	padding: 8px 5px 5px 10px;
}

#content .header{
	display: block;
    margin: auto;
	text-align:center;
}
#content .header img{
	display: block;
    margin: auto;
}

div.content_separator {
    background: url('/images/separator.png') repeat-x scroll 0px 0px transparent;
    height: 12px;
}
#header {
    text-align: center;
    background: #354B51;
    padding-top: 5px;
}
#header div.info {
    margin-top: 5px;
}
input.text {
    width: 95%;
    padding: 4px 0px 3px 3px;
    color: #000;
    margin: 2px 0px 6px;
    border: 1px solid #104139;
}
#content form li {
    padding: 4px 0px 0px;
    overflow: hidden;
}
#header div.notifications_block {
    padding-left: 8px;
    text-align: center;
    background:  #224260;
    color: #95D3CF;
    font-size: small;
    display: block;
    margin: auto;
    min-height: 27px;
    padding-bottom: 0px !important;
	padding-top:5px;
    opacity: 0.8;
}
input.submit{
	background:url("/images/button.png");
	background-size:cover;
	color:#000000;
	width:115px;
	height:39px;
	border:0px;
	size:20px;
	font-size:16pt;
	text-align:center;
	cursor: pointer;
}
input.submit12{
	background:url("/images/button.png");
	background-size:cover;
	color:#000000;
	width:115px;
	height:39px;
	border:0px;
	size:20px;
	font-size:12pt;
	cursor: pointer;
}
#header div.icons {
    background: url('/images/info.png') repeat-x scroll 0px 0px transparent;
    padding: 7px 0px 7px;
}
#header div.icons span {
    white-space: nowrap;
    padding-right: 5px;
}
span.listtitle
{
	padding-left:20px;
	text-align:center;
	font-weight: bold;
}
div.text
{
	margin:auto;
	text-align:center;
	padding:10px;
}
div.title
{
	font-size:16px;
	margin:auto;
	text-align:center;
	font-weight: bold;
	color:#91BFBE;
}
div.title2
{
	margin:auto;
	text-align:center;
	font-weight: bold;
	color:#91BFBE;
	padding-top:10px;
}
ul.items {
    padding: 4px 9px;
}
ul.items li {
    padding: 8px 8px;
    overflow: hidden;
    border-bottom: 1px dotted #719F9E;
}
ul.items :last-child{
	border-bottom:0px;
}
#content .items img.image {
    margin-right: 7px;
    float: left;
    margin-top: 3px;
}
#content .items h4 {
    padding: 0px;
    margin: 0px;
    color: #719F9E;
}
#content .items .description {
    display: table-cell;
}
#content .items .links {
    clear: both;
    overflow: hidden;
    text-align: center;
    padding-top: 5px;
}
#content .items li:first-child {
    border-top: 1px dotted #719F9E;
	margin-top:10px;
}
#content .pagination {
    padding: 0px 8px 10px;
    text-align: center;
}
#content .pagination a {
    background: url('/images/pg.gif') repeat scroll 0px 0px transparent;
    border: 1px solid #354B51;
    color: #354B51;
    height: 16px;
	display: inline-block;
	min-width: 20px;
	text-align: center;
}
#content .pagination span{
    border: 1px solid #253B41;
    color: #91BFBE;
    background-color: #354B51;
    height: 16px;
}
a.button{
	padding-top: 10px;
	background:url("/images/button.png") no-repeat scroll 0px 0px transparent;
	color:#000000;
	width:115px;
	height:39px;
	border:0px;
	size:20px;
	font-size:16pt;
	text-align:center;
	display: inline-block;
	cursor: pointer;
	margin-top:5px;
}
a.button12{
	font-size:11pt;
}
.description .params{
	font-size:10px;
	
}
.props_title{
text-decoration:underline;
}
div.locdescription{
	font-family:"Luxemborg 1910";
	//letter-spacing:1px;
	font-size:16px;
	line-height:25px;
	padding-left:10px;
	padding-right:10px;
	
}
.yellow {
    color: yellow;
}
.green{
	color: #9AD742;
}
.black{
	color: #000000;
}